* {
	font-family: roboto, sans-serif;
}

body {
	margin: 0;
}

.nav, .hero, .footer {
	display: flex;
	background-color: #1f2937;
	padding-left: 125px;
	padding-right: 125px;
}

.nav {
	align-items: center;
	padding-bottom: 50px;
}

.logo {
	font-size: 24px;
	color: #F9FAF8;
	flex: 1;
}

.link {
	margin: 10px;
}

.link, .secondary-text {
	font-size: 18px;
	color: #e5e7eb;
}


.hero-text {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
	justify-content: center;

	padding-bottom: 300px;
}

.main-text {
	font-size: 48px;
	color: #F9FAF8;
	font-weight: 900;
}

.secondary-text {
	color: gainsboro;
	opacity: 0.75;
}

.main-text, .secondary-text, .sign-up, .hero-image {
	margin: 5px;
}


.hero-image {
	width: 400px;
	height: auto;
	margin-right: 0;
}

.image-container {
	flex: 1;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

.information {
	background-color: white;
	margin-left: 275px;
	margin-right: 275px;
	padding-bottom: 100px;
}

.information-header {
	font-size: 36px;
	color: #1F2937;
	font-weight: 900;
	text-align: center;
	margin-bottom: 50px;
}

.information-imgs {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.image-text-container {
	text-align: center;
}

.info-img {
	width: 200px;
	height: auto;
	flex: 1;
	margin: auto;
}

.img-text {
	text-align: center;
	font-size: 18px;
}

.larger-img {
	width: 190px;
	height: auto;
}

.quote-section {
	background-color: #E5E7EB;
	padding: 50px;
}

.quote-area {
	margin-left: 275px;
	margin-right: 275px;
	display: flex;
	flex-direction: column;
	justify-content: cetner;
}

.quote-text {
	font-size: 36px;
	color: #1F2937;
	font-style: italic;
	opacity: 0.75;
	flex: 1, 1, auto;
}

.quote-author {
	margin-top: 0px;
	text-align: right;
	font-size: 18px;
	flex: 1, 1, auto;
}

.call-background {
	background-color: white;
}

.call-to-action {
	display: flex;
	background-color: #3882F6;
	margin: 75px 275px;

	justify-content: center;
	border-radius: 15px;
}

.call-text {
	flex: 1;
	margin: 25px 100px;
	margin-right: 0px;
}

.call-title {
	flex: 1;
	font-size: 24px;
	color: white;
	margin: auto;
}

.call-subtext {
	flex: 1;
	font-size: 14px;
	color: gainsboro;
	opacity: 0.75;
	margin: auto;
}

.call-to-action .sign-up {
	border: 1px white solid;
	margin: auto;
	margin-right: 150px;

}

.copyright {
	color: white;
	text-align: center;
	flex: 1;
}


button {
	background-color: #3882f6;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	color: #F9FAF8;
}